<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHOENIX AI</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @keyframes fadeInLeft {
        0% {
          opacity: 0;
          transform: translateX(-40px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeInRight {
        0% {
          opacity: 0;
          transform: translateX(40px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes moveTopBottom {
        0% {
          transform: translateY(-20px);
        }
        50% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(-20px);
        }
      }

      @keyframes moveLeftRight {
        0% {
          transform: translateX(-20px);
        }
        50% {
          transform: translateX(20px);
        }
        100% {
          transform: translateX(-20px);
        }
      }

      @keyframes pulse {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1); /* Phóng to 10% */
        }
      }

      .pulsing {
        animation: pulse 1s ease-in-out infinite;
      }

      .moving-robot {
        animation: moveTopBottom 5s linear infinite;
      }

      .moving-background {
        animation: moveLeftRight 5s linear infinite;
      }

      .fade-in-left {
        animation: fadeInLeft 1s ease-in-out;
      }

      .fade-in-right {
        animation: fadeInRight 1s ease-in-out;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="min-h-screen">
        <div
          style="background-color: rgb(0, 0, 87)"
          class="flex items-center justify-around h-[60px] relative z-10"
        >
          <img
            class="w-[150px]"
            src="./image/logoPhoenix.svg"
            alt="ChatGPT Icon"
          />

          <p class="text-2xl font-bold text-white">
            PHOENIX AI - TRỢ LÝ AI, BỨT PHÁ TƯƠNG LAI
          </p>
        </div>

        <div
          style="
            background-image: url(https://w.ladicdn.com/s1440x720/5c7362c6c417ab07e5196b05/720-20240314171913-nmea6.png);
            background-position: 50% 50%;
            background-size: cover;
            background-origin: content-box;
            background-repeat: repeat;
            background-attachment: scroll;
          "
          class="absolute top-0 left-0 w-full h-full"
        >
          <div class="min-h-screen px-[200px] pt-[120px] mx-auto">
            <div style="overflow: hidden">
              <div
                style="
                  background-image: url(https://w.ladicdn.com/s1900x950/5c7362c6c417ab07e5196b05/screen-4-20240314170727-xxinp.png);
                  background-position: left top;
                  background-size: cover;
                  background-origin: content-box;
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  pointer-events: none;
                  mix-blend-mode: screen;
                "
                class="absolute top-0 left-0 w-[90%] h-full overflow-hidden moving-background"
              ></div>
            </div>

            <div class="absolute z-10">
              <div
                style="background-color: rgba(111, 167, 242, 0.3)"
                class="px-12 py-2"
              >
                <p
                  class="text-4xl uppercase"
                  style="
                    color: rgb(255, 255, 1);
                    font-weight: bold;
                    line-height: 1.6;
                    background-size: cover;
                    background-position: center center;
                  "
                >
                  nâng tầm trí tuệ
                </p>
              </div>
              <div
                class="h-[32px] w-[40px] absolute -top-3 -left-3"
                style="
                  background-image: url(https://w.ladicdn.com/s350x350/5c7362c6c417ab07e5196b05/ngoac-1-20240314170735-clfdu.png);
                  background-position: left top;
                  background-size: cover;
                  background-origin: content-box;
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  pointer-events: none;
                "
              ></div>
              <div
                class="h-[30px] w-[40px] absolute -bottom-3 -right-3"
                style="
                  background-image: url(https://w.ladicdn.com/s350x350/5c7362c6c417ab07e5196b05/ngoac-2-20240314170728-xw56d.png);
                  background-position: right bottom;
                  background-size: cover;
                  background-origin: content-box;
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  pointer-events: none;
                "
              ></div>
            </div>

            <div
              style="
                background-image: url(https://w.ladicdn.com/s900x500/5c7362c6c417ab07e5196b05/but-pha-20240314170728-kajqw.png);
                background-position: left top;
                background-size: cover;
                background-origin: content-box;
                background-repeat: no-repeat;
                background-attachment: scroll;
                pointer-events: none;
                mix-blend-mode: screen;
              "
              class="absolute top-[210px] w-[580px] h-[160px] overflow-hidden fade-in-left"
            ></div>

            <div class="fade-in-left absolute top-[400px] text-2xl text-white">
              Công cụ trợ lý đắc lực giúp
              <br />
              bứt phá doanh số kinh doanh mỗi ngày!
            </div>

            <div
              class="flex absolute top-[500px] text-xl font-medium text-white items-center"
            >
              <p class="w-[240px]">
                Xây dựng Chiến Lược Kinh Doanh và Marketing nhanh chóng
              </p>
              <div class="w-[2px] bg-white mx-4 h-[50px]"></div>
              <p class="w-[240px]">
                Lên ý tưởng, sáng tạo nội dung, xây kênh chỉ trong vài thao tác
              </p>
              <div class="w-[3px] bg-white mx-4 h-[50px]"></div>
              <p class="w-[220px]">Sở hữu bộ công cụ tạo ra KẾT QUẢ NGAY!!</p>
            </div>

            <div>
              <div
                class="absolute w-[500px] h-[600px] top-20 right-20 fade-in-right"
                style="
                  background-image: url(https://w.ladicdn.com/s950x1000/5c7362c6c417ab07e5196b05/may-20240314170727--cji0.png);
                  background-position: left top;
                  background-size: cover;
                  background-origin: content-box;
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  pointer-events: none;
                "
              ></div>

              <div
                class="absolute w-[160px] h-[200px] bottom-[20%] right-[30%] fade-in-right"
              >
                <div
                  style="
                    background-image: url(https://w.ladicdn.com/s500x500/5c7362c6c417ab07e5196b05/anh-1-20240314170728-jpwjp.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-origin: content-box;
                    background-attachment: scroll;
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                  "
                ></div>
              </div>

              <div
                class="absolute w-[120px] h-[200px] bottom-[22%] right-[32%] fade-in-right"
              >
                <div
                  class="moving-robot"
                  style="
                    background-image: url(https://w.ladicdn.com/s450x450/5c7362c6c417ab07e5196b05/robot-may-20240314170728-3uqrq.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-origin: content-box;
                    background-attachment: scroll;
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                  "
                ></div>
              </div>
            </div>

            <a
              href="https://ai.phoenixtech.vn/"
              style="background-color: rgb(247, 91, 0)"
              class="absolute px-6 py-4 border border-white rounded-full bottom-8 w-fit pulsing"
            >
              <button class="font-bold text-white uppercase">
                Đăng ký/Đăng nhập
              </button>
            </a>

            <a
              href="https://ai.phoenixtech.vn/"
              style="background-color: rgb(255, 255, 1)"
              class="absolute left-0 px-6 py-4 border border-white rounded-full bottom-8 left-[500px] w-fit pulsing"
            >
              <button
                class="font-bold uppercase"
                style="color: rgb(0, 65, 206)"
              >
                TRẢI NGHIỆM PHOENIX AI
              </button>
            </a>
          </div>

          <div
            class="px-20 py-12"
            style="
              background-image: url(https://w.ladicdn.com/s1440x1731/5c7362c6c417ab07e5196b05/1020-20240315084733-s3pq3.jpg);
              background-position: 50% 50%;
              background-repeat: repeat;
              background-size: cover;
              background-attachment: scroll;
              background-origin: content-box;
            "
          >
            <div
              v-if="!selectedTopic"
              class="grid grid-cols-2 gap-4 lg:grid-cols-4 fade-in"
            >
              <button
                v-for="(topic, key) in topics"
                :key="key"
                @click="selectTopic(key)"
                class="flex flex-col items-center p-4 h-[220px] text-center text-white transition-transform duration-300 ease-in-out rounded-lg bg-gradient-to-r from-[#00035c] to-[#005af7] transform hover:scale-105"
              >
                <img
                  :src="topic.icon"
                  :alt="topic.name"
                  class="p-4 bg-white rounded-full w-[80px] object-contain mt-4"
                />
                <span class="mt-6 text-lg font-semibold">{{ topic.name }}</span>
              </button>
            </div>

            <div
              v-if="selectedTopic !== null"
              class="p-6 bg-gray-100 rounded-lg shadow-lg fade-in"
            >
              <div class="flex items-center gap-4 mb-4">
                <img
                  :src="topics[selectedTopic].icon"
                  :alt="topics[selectedTopic].name"
                  class="p-4 bg-white rounded-full w-[50px] h-[50px] object-contain"
                />
                <h2 class="text-2xl font-bold">
                  {{ topics[selectedTopic].name }}
                </h2>
              </div>
              <div class="space-y-3">
                <button
                  v-for="(suggestion, index) in topics[selectedTopic].suggestions"
                  :key="index"
                  @click="selectSuggestion(topics[selectedTopic].name)"
                  class="flex items-center w-full p-3 text-left transition-colors duration-300 bg-white rounded-lg hover:bg-gray-200"
                >
                  <img
                    :src="suggestion.image"
                    :alt="suggestion.content"
                    class="p-2 bg-gray-100 rounded-xl w-[60px] object-contain mr-2"
                  />
                  <span class="text-lg font-bold"
                    >{{ suggestion.content }}</span
                  >
                </button>
              </div>
              <button
                @click="selectedTopic = null"
                class="px-4 py-2 mt-6 transition-colors duration-200 bg-gray-200 rounded-lg hover:bg-gray-300"
              >
                Quay lại
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const selectedTopic = ref(null);
          const topics = {
            AI_TUYEN_SI: {
              name: "AI TUYỂN SỈ",
              icon: "/image/tuyensi.svg",
              suggestions: [
                {
                  image: "/image/tuyensi/kichban.svg",
                  content: "Kịch bản tuyển sỉ",
                },
                {
                  image: "/image/tuyensi/tuchoi.svg",
                  content: "Xử lý từ chối tuyển sỉ",
                },
                {
                  image: "/image/tuyensi/content.svg",
                  content: "Content đăng bài tuyển sỉ 90 ngày",
                },
                {
                  image: "/image/tuyensi/nghiencuu.svg",
                  content: "Nghiên cứu đối thủ",
                },
                {
                  image: "/image/tuyensi/camhung.svg",
                  content: "Truyền cảm hứng cho đội nhóm",
                },
                {
                  image: "/image/tuyensi/kehoach.svg",
                  content: "Kế hoạch content",
                },
                {
                  image: "/image/tuyensi/cauchuyen.svg",
                  content: "Câu chuyện hệ thống",
                },
              ],
            },
            AI_BAN_HANG: {
              name: "AI BÁN HÀNG",
              icon: "/image/banhang.svg",
              suggestions: [
                {
                  image: "/image/tuyensi/kichban.svg",
                  content: "Kịch bản bán hàng",
                },
                {
                  image: "/image/tuyensi/tuchoi.svg",
                  content: "Xử lý từ chối bán hàng",
                },
                {
                  image: "/image/tuyensi/content.svg",
                  content: "Content đăng bài 90 ngày bán hàng",
                },
                {
                  image: "/image/tuyensi/nghiencuu.svg",
                  content: "Nghiên cứu đối thủ",
                },
                {
                  image: "/image/banhang/chamsoc.svg",
                  content: "Chăm sóc khách hàng",
                },
                {
                  image: "/image/banhang/feedback.svg",
                  content: "Feedback khách hàng",
                },
              ],
            },
            AI_SAN_PHAM: {
              name: "AI SẢN PHẨM",
              icon: "/image/sanpham.svg",
              suggestions: [
                {
                  image: "/image/sanpham/thongtin.svg",
                  content: "Thông tin sản phẩm",
                },
                {
                  image: "/image/sanpham/cauhoi.svg",
                  content: "Câu hỏi thường gặp",
                },
                {
                  image: "/image/sanpham/phacdo.svg",
                  content: "Phác đồ điều trị",
                },
              ],
            },
            AI_CHIEN_lUOC: {
              name: "AI CHIẾN LƯỢC KINH DOANH",
              icon: "/image/chienluoc.svg",
              suggestions: [
                {
                  image: "/image/chienluoc/thuhut.svg",
                  content: "Chiến lược thu hút khách hàng tiềm năng",
                },
                {
                  image: "/image/chienluoc/doanhso.svg",
                  content: "Chiến lược tăng doanh số ngay lập tức",
                },
                {
                  image: "/image/chienluoc/quaylai.svg",
                  content: "Chiến lược khách hàng quay lại",
                },
              ],
            },
            AI_NGUOI_MOI: {
              name: "AI KINH DOANH CHO NGƯỜI MỚI",
              icon: "/image/nguoimoi.svg",
              suggestions: [
                {
                  image: "/image/nguoimoi/quytrinh.svg",
                  content: "Quy trình các bước dành cho người mới",
                },
                {
                  image: "/image/nguoimoi/chienluoc.svg",
                  content: "Chiến lược ra đơn trong 10 ngày",
                },
                {
                  image: "/image/nguoimoi/daotao.svg",
                  content:
                    "Đào tạo văn hóa- sản phẩm-bán hàng- thương hiệu cá nhân",
                },
                {
                  image: "/image/nguoimoi/thuonghieu.svg",
                  content: "Thương hiệu cá nhân",
                },
                {
                  image: "/image/nguoimoi/lotrinh.svg",
                  content: "Lộ trình học tập- phát triển",
                },
              ],
            },
            AI_DOANH_NGHIEP: {
              name: "AI HỒ SƠ DOANH NGHIỆP",
              icon: "/image/hoso.svg",
              suggestions: [
                {
                  image: "/image/doanhnghiep/gioithieu.svg",
                  content:
                    "Giới thiệu công ty: Tầm Nhìn sứ mệnh, giá trị cốt lõi",
                },
                {
                  image: "/image/doanhnghiep/hopdong.svg",
                  content: "Mẫu hợp đồng đại lý",
                },
                {
                  image: "/image/doanhnghiep/vanhoa.svg",
                  content: "Văn hóa công ty",
                },
                {
                  image: "/image/doanhnghiep/noiquy.svg",
                  content: "Nội quy công ty",
                },
                {
                  image: "/image/doanhnghiep/hoatdong.svg",
                  content: "Hoạt động công ty",
                },
              ],
            },
            AI_THUONG_HIEU: {
              name: "AI THƯƠNG HIỆU CÁ NHÂN",
              icon: "/image/thuonghieu.svg",
              suggestions: [
                {
                  image: "/image/thuonghieu/dinhvi.svg",
                  content: "Định vị thương hiệu cá nhân",
                },
                {
                  image: "/image/thuonghieu/kehoach.svg",
                  content: "Bản kế hoạch",
                },
                {
                  image: "/image/thuonghieu/content.svg",
                  content: "Content thương hiệu cá nhân",
                },
                {
                  image: "/image/thuonghieu/xaydung.svg",
                  content: "Xây dựng thương hiệu cá nhân",
                },
              ],
            },
            AI_DAO_TAO: {
              name: "AI ĐÀO TẠO",
              icon: "/image/daotao.svg",
              suggestions: [
                {
                  image: "/image/daotao/banhang.svg",
                  content: "Đào tạo bán hàng",
                },
                {
                  image: "/image/daotao/vanhoa.svg",
                  content: "Đào tạo văn hóa",
                },
                {
                  image: "/image/daotao/tuyensi.svg",
                  content: "Đào tạo tuyển sỉ",
                },
                {
                  image: "/image/thuonghieu/xaydung.svg",
                  content: "Đào tạo thương hiệu cá nhân",
                },
                {
                  image: "/image/daotao/plan.svg",
                  content: "Đào tạo về mục tiêu và kế hoạch kinh doanh",
                },
                {
                  image: "/image/daotao/chienluoc.svg",
                  content: "Đào tạo Chiến lược kinh doanh",
                },
              ],
            },
            AI_XAY_KENH: {
              name: "AI XÂY KÊNH TRIỆU VIEW",
              icon: "/image/xaykenh.svg",
              suggestions: [],
            },
            AI_CONTENT: {
              name: "AI KẾ HOẠCH CONTENT",
              icon: "/image/content.svg",
              suggestions: [
                {
                  image: "/image/content/sangtao.svg",
                  content: "Sáng tạo tiêu đề",
                },
                {
                  image: "/image/content/kichban.svg",
                  content: "Viết kịch bản ",
                },
                {
                  image: "/image/content/outline.svg",
                  content: "Lên outline kịch bản",
                },
                {
                  image: "/image/content/banhang.svg",
                  content: "Kịch bản bán hàng",
                },
                {
                  image: "/image/content/hashtag.svg",
                  content: "Hash tag và cách chuẩn seo",
                },
              ],
            },
            AI_NANG_SUAT: {
              name: "AI X3 NĂNG SUẤT CÔNG VIỆC",
              icon: "/image/tangtruong.svg",
              suggestions: [],
            },
            AI_THAU_HIEU: {
              name: "AI THẤU HIỂU BẢN THÂN",
              icon: "/image/thauhieu.svg",
              suggestions: [
                {
                  image: "/image/thauhieu/nangluc.svg",
                  content: "Nhóm tính cách năng lực hành vi, ưu nhược điểm",
                },
              ],
            },
            AI_BDS: {
              name: "AI BẤT ĐỘNG SẢN",
              icon: "/image/bds.svg",
              suggestions: [
                {
                  image: "/image/bds/phantich.svg",
                  content: "Phân tích đánh giá vĩ mô bất động sản",
                },
                {
                  image: "/image/bds/thoidiem.svg",
                  content: "Thời điểm đầu tư",
                },
                {
                  image: "/image/bds/khuvuc.svg",
                  content: "Đánh giá các khu vực ",
                },
                {
                  image: "/image/bds/sosanh.svg",
                  content: "So sánh giá các khu vực",
                },
              ],
            },
            AI_TAI_CHINH: {
              name: "AI TÀI CHÍNH",
              icon: "/image/taichinh.svg",
              suggestions: [
                {
                  image: "/image/taichinh/laisuat.svg",
                  content: "Phân tích xu hướng lãi xuất",
                },
                {
                  image: "/image/taichinh/thitruong.svg",
                  content: "Phân tích vĩ mô ảnh hưởng tới thị trường tài chính",
                },
                {
                  image: "/image/taichinh/giavang.svg",
                  content: "Dự đoán giá vàng",
                },
                {
                  image: "/image/taichinh/chungkhoan.svg",
                  content: "Dự đoán thị trường chứng khoán",
                },
              ],
            },
            AI_VIET_SACH: {
              name: "AI VIẾT SÁCH",
              icon: "/image/book.svg",
              suggestions: [
                {
                  image: "/image/vietsach/chude.svg",
                  content: "Tìm chủ đề hot",
                },
                {
                  image: "/image/vietsach/bocuc.svg",
                  content: "Xây dựng bố cục sách",
                },
                {
                  image: "/image/vietsach/banthao.svg",
                  content: "Bản thảo chi tiết",
                },
              ],
            },
            AI_PHAP_LUAT: {
              name: "AI PHÁP LUẬT",
              icon: "/image/phapluat.svg",
              suggestions: [
                {
                  image: "/image/phapluat/vanban.svg",
                  content: "Mẫu văn bản pháp lý",
                },
                {
                  image: "/image/phapluat/tracuu.svg",
                  content: "Tra cứu điều luật",
                },
              ],
            },
            AI_SUC_KHOE: {
              name: "AI SỨC KHỎE",
              icon: "/image/suckhoe.svg",
              suggestions: [],
            },
            AI_TRUYEN_TRANH: {
              name: "AI SÁNG TÁC TRUYỆN TRANH",
              icon: "/image/truyentranh.svg",
              suggestions: [],
            },
            AI_BAI_GIANG: {
              name: "AI TẠO BÀI GIẢNG",
              icon: "/image/baigiang.svg",
              suggestions: [],
            },
            AI_NUOI_CON: {
              name: "AI NUÔI DẠY CON",
              icon: "/image/nuoicon.svg",
              suggestions: [
                {
                  image: "/image/nuoicon/dotuoi.svg",
                  content: "Đặc điểm tính cách độ tuổi",
                },
                {
                  image: "/image/nuoicon/hanhxu.svg",
                  content: "Hành xử đúng của ba mẹ trong độ tuổi của con",
                },
                {
                  image: "/image/nuoicon/ngontu.svg",
                  content: "Ngôn từ thôi miên dành cho con",
                },
              ],
            },
          };

          const selectTopic = (key) => {
            // window.location.href = `chat.html?question=${encodeURIComponent(
            //   key
            // )}`;

            console.log(topics[key]);
            if (topics[key].suggestions.length === 0) {
              window.location.href = `chat.html?question=${encodeURIComponent(
                topics[key].name
              )}`;
            } else {
              selectedTopic.value = key;
            }
          };

          const selectSuggestion = (suggestion) => {
            // Xử lý khi người dùng chọn một gợi ý
            console.log("Selected suggestion:", suggestion);
            // Thêm code để gửi suggestion vào chat
            window.location.href = `chat.html?question=${encodeURIComponent(
              suggestion
            )}`;
          };

          return {
            selectedTopic,
            topics,
            selectTopic,
            selectSuggestion,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
